/****************
    pubchem 3 x 3
*/

.parent {
    font-family: NotoSerif;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-rows: fit-content(40%);
    grid-column-gap: 0.5em;
    color: #fff;
}

.diagram {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}

.persona {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.heading-2 {
    font-size: 1.6em;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.comment {
    font-size: 1.6em;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
.row-2-left {
    font-size: 1.6em;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.row-2-right {
    font-size: 1.6em;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.row-3-left {
    font-size: 1.6em;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.row-3-right {
    font-size: 1.6em;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
.row-4-left {
    font-size: 1.6em;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
.row-4-right {
    font-size: 1.6em;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

