/********************
 *  Attachment iFrame
 */

.-n{display:flex; align-items:center; text-decoration:none; padding:0 0 1.5em; margin:0}

.-r{font-family: Poppins; font-size:.875rem; font-weight:700; color:#1f64ff; line-height:1.3; transition:transform .3s cubic-bezier(.25,.1,.25,1)}

.-i{fill:#1f64ff; padding:.438em 0; margin-bottom:auto; margin-right:.625em; box-sizing:initial; transition:transform .3s cubic-bezier(.25,.1,.25,1)}

.-n:hover .-i,.-n:hover .-r{transform:translateX(10px)}

a{font-weight:700; text-decoration:none; color:#1f64ff}

.ap-a-ico{display:flex; font-size:initial; box-sizing:initial; justify-content:center; width:1em; height:1em}
.ap--sampler{margin-bottom:7em}
@media (max-width:320px){.ap--sampler{display:none}}
@media (min-width:768px){.ap--sampler{margin-bottom:8vw}}

.ap--sampler .ap-m-copy{grid-column:3/13; padding:0 20px; margin-bottom:1.5em}
@media (min-width:768px){.ap--sampler .ap-m-copy{padding-left:20px; margin-bottom:3em}}
@media (min-width:1680px){.ap--sampler .ap-m-copy{grid-column:5/13}}

.ap--sampler .ap-m-copy-center{grid-column:6/20}
.ap--sampler .ap-m-copy-center h2{font-size:2.5rem; margin:0}
@media (min-width:768px){.ap--sampler .ap-m-copy-center h2{font-size:3.5rem}}

.ap--sampler .ap-m-copy-center .ap-a-ico{width:4em; height:4em; margin:0 auto .5em}
.ap-o-sampler{grid-column:3/-1; width:100%; max-width:1024px; padding-left:20px}
@media (min-width:1680px){.ap-o-sampler{grid-column:5/-3; padding-left:0}}

.ap-o-sampler-header{background:linear-gradient(225deg,#29323c,#485563 75%); font-size:.8125rem; font-family:Poppins,sans-serif; font-weight:700; color:#fff; padding:1.125em 1.75em}
.ap-o-sampler-tab-bar{display:flex; flex-wrap:nowrap; overflow-x:auto; -webkit-overflow-scrolling:touch; white-space:nowrap; background:#20202a}
.ap-o-sampler-tab{cursor:pointer; padding:1.125em 1.75em; border-right:1px solid #48525c; background:#20202a}
.ap-o-sampler-tab.active{background:#48525c}
.ap-o-sampler-tab.active span{opacity:1}
.ap-o-sampler-tab-title{font-size:.8125rem; font-family:Poppins,sans-serif; font-weight:700; color:#fff; opacity:.5}
.ap-o-sampler-iframe{width:100%; height:auto; background:linear-gradient(45deg,#48525c,#101923); box-shadow:0 15px 50px 0 rgba(0,0,0,.4)}
.ap-o-sampler-iframe [placeholder]{display:flex}
[placeholder] .ap-o-sampler-iframe-source{width:calc(50% - 4px)}
.ap-o-sampler-link{margin-top:1em; display:inline-block}
.ap-m-copy{margin-bottom:3em}
.ap-m-copy p{line-height:1.6rem; font-weight:400; color:#48525c}
.ap-m-copy-center{grid-column:1/-1; text-align:center}
.-rw{position:relative; display:flex; flex-wrap:wrap; width:100%; max-width:1440px; padding:0 20px; margin-left:auto; margin-right:auto}
@media (max-width:767px){.-rw{padding:0 15px}}
@media (min-width:768px){.-rw{display:grid; grid-gap:30px; grid-template-columns:repeat(24,minmax(0,1fr)); padding:0 30px}}

.-ok{position:relative; display:flex; flex-wrap:wrap; width:100%; padding:0; margin-left:auto; margin-right:auto; max-width:720px}
/* .-ok{position:relative; display:flex; flex-wrap:wrap; width:100%; padding:0; margin-left:auto; margin-right:auto; max-width:1920px} */
/* @media (min-width:768px){.-ok{display:grid; grid-gap:30px; grid-template-columns:repeat(24,minmax(0,1fr)); padding:0}} */
