:root {
    --on-e6e6e6:#e6e6e6;
    --on-1f64ff:#1f64ff;
    --on-ffffff:#ffffff;
    --on-1aa3ff:#1aa3ff;
}

.uline {
    text-decoration: none;
    position: relative;
}

.uline::before {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: var(--on-e6e6e6);
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.uline:hover::before {
    width: 70%;
    background: var(--on-1f64ff);
}

/**********
 *  RESOLVE
 *  anchor
 */

a {
    font-size: 30px;
    color: var(--on-ffffff);
    text-decoration: none;
}
a:hover {
    color: var(--on-1aa3ff);
}
