/*************
 *  typography
 *  sync with Spectre
 */

h1 {
    font-family: ZillaSlab;
    font-size: calc(3.125 * var(--story-page-vw));
    font-weight: 500; /* see font source */
    color: var(--on-440044); /* set to background SVG color */
    border: none;
}

h2 {
    font-family: ZillaSlab;
    font-size: calc(4 * var(--story-page-vw));
    font-weight: 400;
    display: inline-block;
    color: var(--on-ffffff);
    border: none;
    margin-top: -30px;
}

h3 {
    font-family: ZillaSlab;
    font-size: calc(2.6 * var(--story-page-vw));
    font-weight: 300;
    line-height: 1.2em;
    color: var(--on-ffffff);
    border: none;
}

h4 {
    font-family: Recursive;
    font-size: calc(1.8 * var(--story-page-vw));
    font-weight: 300;
    --CASL: 1;
    --slnt: 0;
    --MONO: 0;
    font-feature-settings: "ss01" on, "ss02" on, "ss08" on;
    margin-top: 1em;
    color: var(--on-ffffff);
    border: none;
    transition: 1s;
}

h4:hover {
    font-weight: 800;
    --CRSV: 0;
    transition: 1s;
}

h5 {
    font-family: Recursive;
    font-size: calc(1.6 * var(--story-page-vw));
    font-weight: 300;
    --CASL: 1;
    --slnt: 0;
    --MONO: 0;
    font-feature-settings: "ss01" on, "ss02" on, "ss08" on;
    margin-bottom: 0.8em;
    color: var(--on-ffffff);
    border: none;
    transition: 1s;
}

h5:hover {
    font-weight: 800;
    --CRSV: 0;
    transition: 1s;
}


h6 {
    font-family: Recursive;
    font-size: calc(0.9 * var(--story-page-vw));
    font-weight: 300;
    --CASL: 1;
    --slnt: 0;
    --MONO: 0;
    font-feature-settings: "ss01" on, "ss02" on, "ss08" on;
    margin-bottom: 0.8em;
    color: var(--on-ffffff);
    border: none;
    transition: 1s;
}

h6:hover {
    font-weight: 800;
    --CRSV: 0;
    transition: 1s;
}

.symbol {
    font-size: 2em;
    line-height: 0.5em;
}
