
:root {
    --on-1f64ff:#1f64ff;
}

/********************
 *  Attachment iFrame
 *  cross reference with Biograph iFrame
 *  display: flex
 */

/* open target page */
.-n {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 0 1.5em;
    margin: 0;
}
.-i,
.-r {
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.-r {
    line-height: 1.6rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--on-1f64ff);
    line-height: 1.3;
}
.-i {
    fill: var(--on-1f64ff);
    padding: 0.438em 0;
    margin-bottom: auto;
    margin-right: 0.625em;
    box-sizing: initial;
}
.-n:hover .-i,
.-n:hover .-r {
    transform: translateX(10px);
}

.ap-a-ico-g {
    display: flex;
    box-sizing: initial;
    justify-content: center;
}
.ap-a-ico {
    display: flex;
    font-size: initial;
    box-sizing: initial;
    justify-content: center;
    width: 1em;
    height: 1em;
}
