/* improve sequence */
:root {
    --on-c0334d:#c0334d;
    --on-f3d480:#f3d480;
    --on-f1931b:#f1931b;
    --on-8f715b:#8f715b;
    --on-78d68c:#78d68c;
    --on-720017:#720017;
    --on-d8d583:#d8d583;
    --on-d98c2a:#d98c2a;
    --on-36688d:#36688d;
    --on-a3586d:#a3586d;
    --on-aba6bf:#aba6bf;
    --on-595775:#595775;
    --on-84a45a:#84a45a;
    --on-583e2e:#583e2e;
    --on-bf988f:#bf988f;
    --on-a7414a:#a7414a;
    --on-6a8a82:#6a8a82;
    --on-a37c27:#a37c27;
    --on-4fd993:#4fd993;
    --on-704404:#704404;
    --on-4e7ba7:#4e7ba7;
    --on-d28f1b:#d28f1b;
    --on-1ecfd6:#1ecfd6;
    --on-edd179:#edd179;
    --on-c05640:#c05640;
    --on-728ca3:#728ca3;
    --on-73c0f4:#73c0f4;
    --on-f3e46c:#f3e46c;
    --on-582a20:#582a20;
    --on-9499a6:#9499a6;
    --on-c59cdb:#c59cdb;
    --on-a67b04:#a67b04;
    --on-525b56:#525b56;
    --on-93a806:#93a806;
    --on-f08b33:#f08b33;
    --on-d75404:#d75404;
    --on-8a2c02:#8a2c02;
    --on-d75b66:#d75b66;
    --on-23345c:#23345c;
    --on-bfafa0:#bfafa0;
    --on-515b51:#515b51;
    --on-8c7547:#8c7547;
    --on-efa747:#efa747;
    --on-52733b:#52733b;
    --on-bda728:#bda728;
    --on-704307:#704307;
    --on-f7b178:#f7b178;
    --on-253f5b:#253f5b;
    --on-4f728e:#4f728e;
}

/**********************
 *  Attachment DL-DT-DD
 */

.p-s {
    padding-left: 1em;
}

.chartlegend span {
    display: inline-block;
    height: 0.65em;
    width:  0.65em;
    border-radius: 0.25em;
}

.av {
    font-family: NotoSerif;
    font-size: 1.4em;
    font-weight: 400;
    color: var(--on-130f30);
    border: none;
}

.mr-s {
    margin-right: 1em;
}

/* improve sequence */
.c-c0334d{background-color:var(--on-c0334d)}
.c-f3d480{background-color:var(--on-f3d480)}
.c-f1931b{background-color:var(--on-f1931b)}
.c-8f715b{background-color:var(--on-8f715b)}
.c-78d68c{background-color:var(--on-78d68c)}
.c-720017{background-color:var(--on-720017)}
.c-d8d583{background-color:var(--on-d8d583)}
.c-d98c2a{background-color:var(--on-d98c2a)}
.c-36688d{background-color:var(--on-36688d)}
.c-a3586d{background-color:var(--on-a3586d)}
.c-aba6bf{background-color:var(--on-aba6bf)}
.c-595775{background-color:var(--on-595775)}
.c-84a45a{background-color:var(--on-84a45a)}
.c-583e2e{background-color:var(--on-583e2e)}
.c-bf988f{background-color:var(--on-bf988f)}
.c-a7414a{background-color:var(--on-a7414a)}
.c-6a8a82{background-color:var(--on-6a8a82)}
.c-a37c27{background-color:var(--on-a37c27)}
.c-4fd993{background-color:var(--on-4fd993)}
.c-704404{background-color:var(--on-704404)}
.c-4e7ba7{background-color:var(--on-4e7ba7)}
.c-d28f1b{background-color:var(--on-d28f1b)}
.c-1ecfd6{background-color:var(--on-1ecfd6)}
.c-edd179{background-color:var(--on-edd179)}

