.parent {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 1px;
    color: #555555;
}

.g-11 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.g-21 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.g-31 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.g-41 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
.g-51 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

.g-15 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}
.g-25 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}
.g-35 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
}
.g-45 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
}
.g-55 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
}

.nsen {
    font-family: NotoSerif;
}

.nsei {
    font-family: NotoSerif-Italic;
}

.nsan {
    font-family: NotoSans;
}

.nsai {
    font-family: NotoSans-Italic;
}

.fs-08 {
    font-size: 0.8em;
}
.fs-10 {
    font-size: 1.0em;
}
.fs-12 {
    font-size: 1.2em;
}
.fs-14 {
    font-size: 1.4em;
}
.fs-16 {
    font-size: 1.6em;
}
