
/* .-fz{top:0;left:0;background-repeat:no-repeat;background-size:100% auto;background-position:100% 0;background-attachment:fixed;background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 768"><defs><linearGradient id="a" x1="239.67" y1="855.23" x2="606.28" y2="-152.04" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23EDEDF1"/></linearGradient></defs><g><path fill="url(%23a)" d="M0 0h1024v214L786.37 768H0V0z"/></g></svg>')} */

.-fz section{margin-bottom:50px}
.-fz section:last-child{margin-bottom:0}
.-fz .-if{position:relative;display:flex;flex-wrap:wrap;width:100%;max-width:1440px;padding:0 20px;margin-left:auto;margin-right:auto}
@media (max-width:767px){.-fz .-if{padding:0 15px}}
@media (min-width:768px){.-fz .-if{display:grid;grid-gap:30px;grid-template-columns:repeat(24,minmax(0,1fr));padding:0 30px}}
.-fz .-if.mission{padding-bottom:0;margin-bottom:0}
.-fz .-ox{position:relative;display:flex;flex-wrap:wrap;width:100%;padding:0;margin-left:auto;margin-right:auto;max-width:1920px}
@media (min-width:768px){.-fz .-ox{display:grid;grid-gap:30px;grid-template-columns:repeat(24,minmax(0,1fr));padding:0}}
.-fz .-t{grid-column:1;position:relative;width:100%}
@media (min-width:768px){.-fz .-t{grid-column:9/25}}
@media (min-width:1024px){.-fz .-t{grid-column:7/25}}
@media (min-width:1024px){.-fz .-t p.limit{max-width:70%}}
.-fz .ap--divider{width:100%;margin:25px 0 50px;border-bottom:1px solid #ccc}
@media (min-width:768px){.-fz .ap--divider{grid-column:6/19;margin:0}}
.-fz .ap--video{width:100%;margin-bottom:5em;box-shadow:0 25px 25px 0 rgba(0,0,0,.15)}
.-fz .-t{padding-left:30px;padding-right:30px;margin-bottom:7em}
@media (min-width:768px){.-fz .-t{padding-left:0;padding-right:0;margin-bottom:8vw}}
.-fz .-t .-if{padding:0}
.-fz .-t .ap-m-copy:last-child,.-fz .-t .ap-m-copy p:last-child{margin-bottom:0}
.-fz .-ab .-aw{padding-left:30px;padding-right:30px}
@media (min-width:768px){.-fz .-ab .-aw{padding-left:0;padding-right:0}}
.-fz .-od .ap-m-copy{padding-left:30px;padding-right:30px}
@media (min-width:768px){.-fz .-od .ap-m-copy{padding-left:0;padding-right:0}}
.-fz .-ot .-ow{margin-bottom:50px}
@media (min-width:768px){.-fz .-ot .-ow{margin-bottom:0}}
.-fz .-ot .-ok{margin:20em 0 4em}
@media (min-width:768px){.-fz .-ot .-ok{margin:7vw 0 11vw}}
@media (min-width:768px){.-fz .-ot+.-t{margin-top:-15%}}
.-fz .-ot+.-t h1{font-size:2.125rem}
@media (min-width:768px){.-fz .-ot+.-t h1{font-size:2.125rem}}
@media (min-width:1024px){.-fz .-ot+.-t h1{font-size:4.5rem}}
.-fz .-ij{margin:0 20px 2em 0;flex:1 0 15em;position:relative;display:block;transition:transform .3s ease;height:100%}
@media (min-width:575px){.-fz .-ij{margin:0 0 2em}}
.-fz .-ij>a{position:relative;display:block;transition:transform .3s ease}
.-fz .-fo{position:absolute;right:0;top:0;font-size:0;z-index:1}
.-fz .-iq{overflow:hidden;position:relative;background-color:#fff;border-radius:10px;box-shadow:inset 0 0 0 1px #ebebf0,0 15px 30px 0 rgba(0,0,0,.15);transition:box-shadow .3s ease;height:100%;border-radius:0}
.-fz .-st{padding:25px}
.-fz .-sr{font-family:Poppins,sans-serif;font-weight:700;line-height:1.2em;color:#20202a;font-size:1rem;margin:0 0 .65em}
.-fz .-le{line-height:1.6rem;font-weight:400;color:#48525c;font-size:.8125rem;line-height:1.6em;margin:0}
.-fz .-fa+.-iq,.-fz .-sn+.-iq{background-color:transparent;box-shadow:none;padding:0}
.-fz .-fa+.-iq .-st,.-fz .-sn+.-iq .-st{padding-left:0;padding-right:0;padding-top:25px}
.-fz .-sn{position:relative;box-shadow:0 30px 30px -15px rgba(0,0,0,.25)}
.-fz .-sn:before{content:"";position:absolute;left:-1px;bottom:0;width:calc(100% + 2px);height:150px;background:linear-gradient(0deg,rgba(0,0,0,.12),transparent);z-index:1;height:100%}
.-fz .-sn.no-shadow{box-shadow:none}
.-fz .-fa{box-shadow:0 30px 30px -15px rgba(0,0,0,.25);align-items:center;background:#29323c;background:linear-gradient(225deg,#29323c,#48525c 75%);display:flex;justify-content:center;left:0;min-height:100px;top:0;width:100%;z-index:2}
.-fz .-fa .ap-a-ico{max-width:10em;max-height:10em;height:auto;width:100%;fill:#fff}
.-fz .-fa .ap-a-ico svg{padding:1.75rem 0}
@media (max-width:767px){.-fz .-so{padding:1.25rem}}
