.unit-image {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 5%;*/
}

.unit-title {
  color: white; 
  margin-left: auto;
  margin-right: auto;
}

.unit-title-card {
  vertical-align:middle; 
  text-align:center;  
}

.unit-small-image {
  width: 40px;
  height: 40px;
  float: left;
}

.unit-result {
  border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.unit-swap {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.clearfix {
  overflow: auto;
}

.active-purple-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}
.active-purple-3 input[type=text] {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}

.unit-icon-card {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
}

.currency-header {
  background: #2E8B57;
}

.home-nav-bg {
background: #ffffff;
}

.unit-bg-temperature {
  background: #F4511E;
  
}

.unit-bg-weight {
  background: #1A237E;
  
}

.unit-bg-length {
  background: #4CAF50;
  
}

.unit-bg-speed {
  background: #FF7F50;
  
}

.unit-bg-volume{
  background: #2196F3;
  
}

.unit-bg-time{
  background: #8B008B;
  
}
.unit-bg-area{
  background: #169835;
  
}
.unit-bg-fuel{
  background: #98162a;
}
.unit-bg-pressure{
  background: #009688;
  
}
.unit-bg-energy{
  background: #FF8C00;
  
}
.unit-bg-storage{
  background: #FF1493;
  
}
.unit-bg-luminance{
  background: #4B0082;
  
}
.unit-bg-current{
  background: #B22222;
  
}
.unit-bg-force{
  background: #556B2F;
  
}
.unit-bg-sound{
	background: #483D8B;
}

.unit-bg-frequency{
  background: #880E4F;
  
}
.unit-bg-image{
  background: #FF6347;
  
}
.unit-bg-cooking{
  background: #2E8B57;
  
}
.unit-bg-radiation{
  background: #8B0000;
  
}
.unit-bg-resistance{
  background: #D2691E;
  
}
.unit-bg-power{
  background: #32CD32;
  
}
.unit-bg-flow{
  background: #6495ED;
  
}
.unit-bg-concentration{
  background: #DC143C;
  
}
.unit-bg-angle{
  background: #000080;
  
}
.unit-bg-magnet{
  background: #C2185B;
  
}
.unit-bg-viscosity{
  background: #7B1FA2;
  
}
.unit-bg-torque{
  background: #d32f2f;
  
}
.unit-bg-density{
  background: #0288D1;
  
}
.unit-bg-fuel-efficiency{
  background: #388E3C;
  
}
.unit-bg-conductance{
  background: #E64A19;
  
}
.unit-bg-inductance{
  background: #455A64;
  
}
.unit-bg-capacitance{
  background: #2E8B57;
  
}
.unit-bg-heat-density{
  background: #6A5ACD;
  
}
.unit-bg-surface-tension{
  background: #8B0000;
  
}
.unit-bg-resolution{
  background: #32CD32;
  
}
.unit-bg-permeability{
  background: #5E35B1;
  
}
.unit-bg-inertia{
  background: #FF4500;
  
}
.unit-bg-charge{
  background: #00695C;
  
}
.unit-bg-illumination{
  background: #283593;
  
}
.unit-bg-heat-capacity{
  background: #b71c1c;
  
}
.unit-bg-prefix{
  background: #4A148C;
  
}
.unit-bg-solution{
  background: #0D47A1;
  
}
.unit-bg-conductivity{
  background: #880E4F;
  
}
.unit-bg-current-density{
  background: #004D40;
  
}

.index-text-button {
  background: #FF8F00;
}

.index-maths-button {
  background: #114651;
}

.index-currency-button {
  background: #13631b;
}

.index-pdf-button {
  background: #ff4932;
}

.text-bg-delimiter {
  background: #E91E63;
}


.imagebacked {
  padding: 2px 0 2px 20px;
  background-repeat: no-repeat;
  background-position: 1px 2px;
  vertical-align: middle;
  }

.uparrow{
  width: 50px;
  height: 50px;
  float: right;
}


.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#rightSearch{
  width: 100%;
  margin-bottom: 10px;
}
#leftSearch{
  width: 100%;
  margin-bottom: 10px;
}

.convert {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.anchor-index {
  color: #FFFFFF;
}

input[type=range].no-border {
  border: none; }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#map-container {
	margin: 1px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 2px black;
	overflow: auto;
}

#map-close {
	position: absolute;
	right: 5px;
	top: 5px;
}

iframe {
	border: none;
	margin: 0;
  padding: 0;
  position:absolute;
  bottom:10%;
	overflow: scroll;
	width: 50%;
	height: calc(60% - 8px);
	min-width: 500px;
}